{% extends 'base.html' %}

{% from "helper/form.html" import render_field %}

{% block title %} {{ operation|capitalize }} Category{% endblock %}


{% block content %}
<div class="container my-2">
  <h1>{{ operation|capitalize }} Category</h1>
  <form class="needs-validation" method="post" action="{{ action }}" novalidate>
    
    {{ form.csrf_token }}

    {% for field in form if field.widget.input_type != 'hidden' %}
    {% if operation == 'delete' %}
    {{ render_field(field, disabled="disabled") }}
    {% else %}
    {{ render_field(field) }}
    {% endif %}
    {% endfor %}


    {% if operation == 'create' %}
        <button class="btn btn-primary" type="submit" value="create">Create</button>
    {% elif operation == 'update' %}
        <button class="btn btn-warning" type="submit" value="update">Update</button>
    {% elif operation == 'delete' %}
        <button class="btn btn-danger" type="submit" value="delete" onclick="return confirm('Are you sure delete it?');">Delete</button>
    {% endif %}
  </form>
</div>
{% endblock %}