attrs==18.1.0
click==6.7
colorama==0.3.9
coverage==4.5.1
decorator==4.3.0
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
Flask-Uploads==0.2.1
Flask-WTF==0.14.2
infinity==1.4
intervals==0.8.1
itsdangerous==0.24
Jinja2==2.10
lxml==4.2.1
MarkupSafe==1.0
more-itertools==4.1.0
pluggy==0.6.0
py==1.5.3
pytest==3.5.1
python-dateutil==2.7.3
six==1.11.0
SQLAlchemy==1.2.7
SQLAlchemy-Utils==0.33.3
validators==0.12.1
Werkzeug==0.14.1
WTForms==2.2.1
WTForms-Alchemy==0.16.7
WTForms-Components==0.10.3
