{% extends "base.html" %}

{% from "helper/form.html" import render_field %}

{% block title %}Sign In{% endblock %}


{% block content %}
  <form class="form-signin needs-validation" method="post" novalidate>
    <!-- Brand Image -->
    <!-- <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
    <h1 class="h3 mb-3 font-weight-normal">Please Sign in</h1>

    {{ form.csrf_token }}

    {{ render_field(
        form.username, 
        placeholder="Username", 
        autofocus="") 
    }}
    {{
      render_field(
        form.password,
        placeholder="Password"
      )
    }}

    {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
  </form>
{% endblock %}