{% extends 'base.html' %}

{% from "helper/form.html" import render_field %}
{% from "helper/flash.html" import render_messages %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <legend>Register</legend>
  
  <div>
    {{ render_messages() }}
  </div>

  <form method="post">
    {{ form.csrf_token }}
    {{ render_field(form.invitation, placeholder="Invitation Code", autofocus="") }}
    {{ render_field(form.refer, placeholder="Refer") }}
    {{ render_field(form.username, placeholder="Username") }}
    {{ render_field(form.email, placeholder="Email") }}
    {{ render_field(form.password, placeholder="Password") }}
    {{ render_field(form.confirm, placeholder="Repeat Password") }}
    {{ form.submit() }}
  </form>

{% endblock %}
