{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
{% set list_url = url_for(endpoint) %}
{% set update_url = url_for(endpoint) + '{}/update'.format(post.id) %}
{% set delete_url = url_for(endpoint) + '{}/delete'.format(post.id) %}

<div class="container my-2">
  <h1>{{  post.title|title }}</h1>
  
  {% if series %}
  <h2>Series</h2>
  <p><a href="#" data-toggle="tooltip" data-placement="right" title="{{ series.brief or series.name }}">{{ series.name }}</a></p>
  {% endif %}

  <h2>Categories</h2>
  <ul>
    {% for category in categories %}
    <li>{{ category.name }}</li>
    {% endfor %}
  </ul>
  
  <h2>Tags</h2>
  <ul>
    {% for tag in tags %}
    <li>{{ tag.name }}</li>
    {% endfor %}
  </ul>

  <h2>Content</h2>
  <div>{{ post.body }}</div>
  <div class="btn-group" role="group" aria-label="Update, Delete, List">
    <a class="btn btn-warning" href="{{ update_url }}">Update</a>
    <a class="btn btn-danger" href="{{ delete_url }}">Delete</a>
    <a class="btn btn-primary" href="{{ list_url }}">Back to List</a>
  </div>
</div>
{% endblock %}