{% extends "base.html" %}

{% from "helper/pagination.html" import render_pagination %}

{% block title %}Upload List{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">UUID</th>
                  <th scope="col">File</th>
                  <th scope="col">Manage</th>
                </tr>
              </thead>
              <tbody>
                {% if pagination.items %}
                {% for item in pagination.items %}
                <tr>
                  <th scope="row">{{ item.id }}</th>
                  <td>{{ item.uuid }}</td>
                  <td><a href="{{ item.url }}" title="{{ item.filename }}">Download</a></td>
                  <td><a href="{{ url_for('.manager', uuid=item.uuid) }}">Go</a></td>
                </tr>
                {% endfor %}
                {% endif %}
              </tbody>
            </table>
        </div>
        <div class="col-12">
            {{ render_pagination(pagination, endpoint, "Files' pages") }}
        </div>
    </div>
</div>
{% endblock %}