<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">ResearchHelper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% if url_for('index') == request.url %}
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('index') }}">Home</a>
        </li>
        {% endif %}

        {% if g.user %}
        
        {#
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.user', user_id=g.user.id) }}">g.user.username</a>
        </li>
        #}

        {% if g.user.is_admin() %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('admin.index') }}">Admin</a>
        </li>
        {% endif %}       

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
        </li>

        {% else %}

        {% if url_for('auth.login') == request.url %}
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('auth.login') }}">Sign in <span class="sr-only">(current)</span></a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.login') }}">Sign in</a>
        </li>
        {% endif %}

        {% if url_for('auth.register') == request.url %}
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('auth.register') }}">Sign up <span class="sr-only">(current)</span></a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.register') }}">Sign up</a>
        </li>
        {% endif %}

        {% endif %}
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->
      </ul>
      
      {#
      <form class="form-inline my-2 my-lg-0" action="{{ url_for('search') }}" method="get">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      #}
      
    </div>
  </nav>
</header>